.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}


.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.block {
    display: block;
}

.text-primary {
    color: var(--link-color);
}

.cta-button {
    background-color: #007BFF; /* Modern Blue */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3; /* Darker Blue */
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.cta-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-base {
    font-size: 16px;
}

.text-lg {
    font-size: 20px;
}